In [0]:
%sql
CREATE TABLE employees (
    employee_id INT,
    first_name VARCHAR(50),
    last_name VARCHAR(50),
    department VARCHAR(50),
    salary DECIMAL(10, 2),
    hire_date DATE
);

-- INSERT INTO employees (employee_id, first_name, last_name, department, salary, hire_date)
-- VALUES
-- (1, 'John', 'Doe', 'Engineering', 75000.00, '2020-01-15'),
-- (2, 'Jane', 'Smith', 'Marketing', 68000.00, '2019-03-20'),
-- (3, 'Mike', 'Johnson', 'HR', 62000.00, '2018-07-10'),
-- (4, 'Emily', 'Davis', 'Finance', 80000.00, '2021-06-25');

In [0]:
%sql
CREATE TABLE projects (
    project_id INT,
    project_name VARCHAR(100),
    manager_id INT,
    budget DECIMAL(12, 2),
    start_date DATE,
    end_date DATE
);

-- INSERT INTO projects (project_id, project_name, manager_id, budget, start_date, end_date)
-- VALUES
-- (1, 'Project Alpha', 1, 500000.00, '2022-01-01', '2022-12-31'),
-- (2, 'Project Beta', 2, 300000.00, '2021-05-01', '2021-11-30'),
-- (3, 'Project Gamma', 4, 750000.00, '2023-03-15', '2024-02-28');